*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
} 

 .one{
    border: 3px solid red;
    height:700px;
    width: 100%;
} 

.picha {
   background-image: url("images/stair.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 700px;
   width: 100%; 
}

.log{
    margin-left: 520px;
    margin-top: 200px;
}

.karibu{
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
    color: white;
}