* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.one {
  border: 3px solid red;
  height: 700px;
  width: 100%;
}

.picha {
  background-image: url("images/stair.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.log {
  margin-left: 520px;
  margin-top: 200px;
}

.karibu {
  text-align: center;
  margin-top: 30px;
  font-size: 45px;
  color: white;
}

.lead {
  text-align: center;
  font-size: 12px;
  color: white;
}

.scroll {
  margin-left: 560px;
  margin-top: 120px;
}

.abt{
    text-align: center;
    font-size: 25px;
    font-family: "Roboto";
    margin-top: 40px;
    font-weight:bolder;
}

.us{
    text-align: center;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .one {
    border: 3px solid red;
    height: 200px;
    width: 100%;
  }

  .log {
    margin-left: 170px;
    margin-top: 50px;
    height: 30px;
  }

  .picha {
    width: 100%;
    height: 200px;
  }

  .karibu {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    color: white;
  }

  .lead {
    text-align: center;
    font-size: 5px;
    color: white;
  }

  .scroll {
    margin-left: 180px;
    margin-top: 10px;
    height: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .one {
    border: 3px solid red;
    height: 150px;
    width: 100%;
  }

  .log {
    margin-left: 140px;
    margin-top: 30px;
    height: 30px;
  }

  .picha {
    width: 100%;
    height: 150px;
  }

  .karibu {
    text-align: center;
    margin-top: 10px;
    font-size: 5px;
    color: white;
  }

  .lead {
    text-align: center;
    font-size: 5px;
    color: white;
  }

  .scroll {
    margin-left: 150px;
    margin-top: 0px;
    height: 15px;
  }
}