* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.one {
  border: 3px solid red;
  height: 700px;
  width: 100%;
}

.picha {
  background-image: url("images/stair.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.log {
  margin-left: 520px;
  margin-top: 200px;
}

.karibu {
  text-align: center;
  margin-top: 30px;
  font-size: 45px;
  color: white;
}

.lead {
  text-align: center;
  font-size: 12px;
  color: white;
}

.scroll {
  margin-left: 560px;
  margin-top: 120px;
}

.two {
  border: 3px solid red;
  height: 320px;
  width: 100%;
}

.abt {
  text-align: center;
  font-size: 25px;
  font-family: "Roboto";
  margin-top: 40px;
  font-weight: bolder;
}

.us {
  text-align: center;
  font-size: 15px;
}

.three {
  border: 3px solid red;
  height: 300px;
  width: 100%;
}

.bak {
  background-image: url("images/laptop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.serve {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  font-family: "Roboto";
  color: white;
  margin-top: 100px;
}

.vice {
  text-align: center;
  font-size: 15px;
  color: white;
}

.four {
  border: 3px solid red;
  height: 400px;
  width: 100%;
}

.act {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  font-family: "Roboto";
  margin-top: 40px;
}

.four img {
  margin-left: 160px;
}

#des {
  margin-left: 170px;
  font-family: "Roboto";
}

.hide {
  text-align: center;
  margin-right: 750px;
  font-size: 12px;
  display: none;
}

#dev {
  margin-left: 150px;
  font-family: "Roboto";
}

.hide {
  text-align: center;
  margin-right: 750px;
  font-size: 12px;
  display: none;
}

#pro {
  margin-left: 110px;
  font-family: "Roboto";
}

.hide {
  text-align: center;
  margin-right: 750px;
  font-size: 12px;
  display: none;
}

.five {
  border: 3px solid red;
  height: 630px;
  width: 100%;
}

.por1 {
  width: 220px;
  height: 200px;
}

.por2 {
  width: 220px;
  height: 200px;
}

.por3 {
  width: 220px;
  height: 200px;
}

.por4 {
  width: 220px;
  height: 200px;
}

.por5 {
  width: 220px;
  height: 200px;
}

.por6 {
  width: 220px;
  height: 200px;
}

.por7 {
  width: 220px;
  height: 200px;
}

.por8 {
  width: 220px;
  height: 200px;
}

.por {
  display: flex;
  justify-content: space-evenly;
}

.port {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.flip-box {
  background: transparent;
  width: 220px;
  height: 200px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* -webkit-backface-visibility: hidden; */
  /* backface-visibility: hidden; */
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  transform: rotateY(180deg);
}

#zun{
    color: white;
    font: size 60px;
}
@media only screen and (max-width: 600px) {
  .one {
    border: 3px solid red;
    height: 200px;
    width: 100%;
  }

  .log {
    margin-left: 170px;
    margin-top: 50px;
    height: 30px;
  }

  .picha {
    width: 100%;
    height: 200px;
  }

  .karibu {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    color: white;
  }

  .lead {
    text-align: center;
    font-size: 5px;
    color: white;
  }

  .scroll {
    margin-left: 180px;
    margin-top: 10px;
    height: 20px;
  }

  .two {
    border: 3px solid red;
    height: 500px;
    width: 100%;
  }

  .three {
    border: 3px solid red;
    height: 130px;
    width: 100%;
  }

  .bak {
    background-image: url("images/laptop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 130px;
    width: 100%;
  }

  .por1 {
    width: 220px;
    height: 200px;
  }
  
  .por2 {
    width: 220px;
    height: 200px;
  }
  
  .por3 {
    width: 220px;
    height: 200px;
  }
  
  .por4 {
    width: 220px;
    height: 200px;
  }
  
  .por5 {
    width: 220px;
    height: 200px;
  }
  
  .por6 {
    width: 220px;
    height: 200px;
  }
  
  .por7 {
    width: 220px;
    height: 200px;
  }
  
  .por8 {
    width: 220px;
    height: 200px;
  }

  .por {
    display: flex;
    justify-content: space-evenly;
  }
  
  .port {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 320px) {
  .one {
    border: 3px solid red;
    height: 150px;
    width: 100%;
  }

  .log {
    margin-left: 140px;
    margin-top: 30px;
    height: 30px;
  }

  .picha {
    width: 100%;
    height: 150px;
  }

  .karibu {
    text-align: center;
    margin-top: 10px;
    font-size: 5px;
    color: white;
  }

  .lead {
    text-align: center;
    font-size: 5px;
    color: white;
  }

  .scroll {
    margin-left: 150px;
    margin-top: 0px;
    height: 15px;
  }

  .two {
    border: 3px solid red;
    height: 500px;
    width: 100%;
  }

  .three {
    border: 3px solid red;
    height: 110px;
    width: 100%;
  }

  .bak {
    background-image: url("images/laptop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 110px;
    width: 100%;
  }
}
